<!DOCTYPE html>
<html lang="en">
{% load static %}
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- site icon -->
   <link rel="icon" href="{% static 'core/images/fevicon.html' %}" type="image/png" />
   <!-- bootstrap css -->
   <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}" />
   <!-- site css -->
   <link rel="stylesheet" href="{% static 'core/style.css' %}" />
   <!-- responsive css -->
   <link rel="stylesheet" href="{% static 'core/css/responsive.css' %}" />
   <!-- color css -->
   <link rel="stylesheet" href="{% static 'core/css/colors.html' %}" />
   <!-- select bootstrap -->
   <link rel="stylesheet" href="{% static 'core/css/bootstrap-select.css' %}" />
   <!-- scrollbar css -->
   <link rel="stylesheet" href="{% static 'core/css/perfect-scrollbar.css' %}" />
   <!-- custom css -->
   <link rel="stylesheet" href="{% static 'core/css/custom.css' %}" />
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body class="dashboard dashboard_1">
   <div class="full_container">
      <div class="inner_container">
         <!-- Sidebar  -->
         <nav id="sidebar">
            <div class="sidebar_blog_1">
               <div class="sidebar-header">

               </div>
               <div class="sidebar_user_info">
                  <div class="icon_setting"></div>
                  <div class="user_profle_side">
                     <div class="user_img"><img class="img-responsive"
                           src="{% static 'core/images/layout_img/user_img.jpg' %}" alt="#" /></div>
                     <div class="user_info">
                        {% if user.is_authenticated %}
                        <h6>Bienvenido: {{ user.username }}</h6>
                        <p><span class="online_animation"></span> Online</p>
                        {% else %}
                        <h6>Bienvenido: Invitado</h6>
                        {% endif %}
                     </div>
                  </div>
               </div>
            </div>
            <div class="sidebar_blog_2">
               <h4>General</h4>
               <ul class="list-unstyled components">
                  <li><a href="{% url 'index' %}"><i class="fa fa-user yellow_color"></i> <span>Inicio</span></a></li>
                  {% if user.is_authenticated %}
                  {% if user.is_staff %}
                  <li class="active">
                     <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                           class="fa fa-users yellow_color"></i> <span>Empleados</span></a>
                     <ul class="collapse list-unstyled" id="dashboard">
                        <li>
                           <a href="{% url 'empleados' %}">> <span>Inicio</span></a>
                        </li>
                        <li>
                           <a href="{% url 'empleadosadd' %}">> <span>Agregar</span></a>
                        </li>
                     </ul>
                  </li>
                  {% endif %}
                  {% for group in user.groups.all %}
                  {% if group.name == 'supervisor' or group.name == 'cliente' %}
                  <li class="active">
                     <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                           class="fa fa-users yellow_color"></i> <span>Empleados2</span></a>
                     <ul class="collapse list-unstyled" id="dashboard">
                        {% if perms.core.view_empleado %}
                        <li>
                           <a href="{% url 'empleados' %}">> <span>Inicio</span></a>
                        </li>
                        {% endif %}
                        {% if perms.core.add_empleado %}
                        <li>
                           <a href="{% url 'empleadosadd' %}">> <span>Agregar</span></a>
                        </li>
                        {% endif %}
                     </ul>
                  </li>
                  {% endif %}
                  {% endfor %}
                  {% endif %}
                  <!--
                     <li>
                        <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Elements</span></a>
                        <ul class="collapse list-unstyled" id="element">
                           <li><a href="general_elements.html">> <span>General Elements</span></a></li>
                           <li><a href="media_gallery.html">> <span>Media Gallery</span></a></li>
                           <li><a href="icons.html">> <span>Icons</span></a></li>
                           <li><a href="invoice.html">> <span>Invoice</span></a></li>
                        </ul>
                     </li>
                     <li><a href="tables.html"><i class="fa fa-table purple_color2"></i> <span>Tables</span></a></li>
                     <li>
                        <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Apps</span></a>
                        <ul class="collapse list-unstyled" id="apps">
                           <li><a href="email.html">> <span>Email</span></a></li>
                           <li><a href="calendar.html">> <span>Calendar</span></a></li>
                           <li><a href="media_gallery.html">> <span>Media Gallery</span></a></li>
                        </ul>
                     </li>
                     <li><a href="price.html"><i class="fa fa-briefcase blue1_color"></i> <span>Pricing Tables</span></a></li>
                     <li>
                        <a href="contact.html">
                        <i class="fa fa-paper-plane red_color"></i> <span>Contact</span></a>
                     </li>
                     <li class="active">
                        <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Additional Pages</span></a>
                        <ul class="collapse list-unstyled" id="additional_page">
                           <li>
                              <a href="profile.html">> <span>Profile</span></a>
                           </li>
                           <li>
                              <a href="project.html">> <span>Projects</span></a>
                           </li>
                           <li>
                              <a href="login.html">> <span>Login</span></a>
                           </li>
                           <li>
                              <a href="404_error.html">> <span>404 Error</span></a>
                           </li>
                        </ul>
                     </li>
                     <li><a href="map.html"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                     <li><a href="charts.html"><i class="fa fa-bar-chart-o green_color"></i> <span>Charts</span></a></li>
                     <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
                    -->
               </ul>
            </div>
         </nav>
         <!-- end sidebar -->
         <!-- right content -->
         <div id="content">
            <!-- topbar -->
            <div class="topbar">
               <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="full">
                     <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i
                           class="fa fa-bars"></i></button>
                     <div class="logo_section">
                        <a href="index.html"><img class="img-responsive" src="{% static 'core/images/logo/logo.png' %}"
                              alt="#" /></a>
                     </div>
                     <div class="right_topbar">
                        <div class="icon_info">
                           <ul>
                              <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                              <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                              <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                           </ul>
                           <ul class="user_profile_dd">
                              <li>
                                 {% if user.is_authenticated %}
                                 <a class="dropdown-toggle" data-toggle="dropdown"><img
                                       class="img-responsive rounded-circle"
                                       src="{% static 'core/images/layout_img/user_img.jpg' %}" alt="#" /><span
                                       class="name_user">{{ user.username }}</span></a>
                                 <div class="dropdown-menu">
                                    <a class="dropdown-item" href="profile.html">My Profile</a>
                                    <a class="dropdown-item" href="settings.html">Settings</a>
                                    <a class="dropdown-item" href="help.html">Help</a>
                                    <a class="dropdown-item" href="{% url 'logout' %}"><span>Log Out</span> <i
                                          class="fa fa-sign-out"></i></a>
                                    <form action="{% url 'logout' %}" method="POST">
                                       {% csrf_token %}
                                       <input type="submit" value="Logout" class="dropdown-item">
                                    </form>
                                 </div>
                                 {% else %}
                                 <a class="dropdown-toggle" data-toggle="dropdown"><img
                                       class="img-responsive rounded-circle"
                                       src="{% static 'core/images/layout_img/user_img.jpg' %}" alt="#" /><span
                                       class="name_user">Invitado</span></a>
                                 <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'login' %}"><span>Login</span> <i
                                          class="fa fa-sign-out"></i></a>
                                    <a class="dropdown-item" href="{% url 'register' %}"><span>Register</span> <i
                                          class="fa fa-sign-out"></i></a>
                                 </div>
                                 {% endif %}
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </nav>
            </div>
            <!-- end topbar -->
            <!-- dashboard inner -->
            <div class="midde_cont">
               <div class="container-fluid">
                  <div class="row column_title">
                     <div class="col-md-12">
                        <div class="page_title">
                           <h2>Dashboard</h2>
                        </div>
                     </div>
                  </div>
                  <!-- CONTENIDO PRINCIPAL -->
                  {% block contenido %}
                  {% endblock %}
                  <!-- FIN CONTENIDO PRINCIPAL -->

               </div>
               <!-- footer -->
               <div class="container-fluid">
                  <div class="footer">
                     <p>Copyright © 2018 Designed by html.design. All rights reserved.
                     </p>
                  </div>
               </div>
            </div>
            <!-- end dashboard inner -->
         </div>
      </div>
   </div>

   <!-- jQuery -->
   <script src="{% static 'core/js/jquery.min.js' %}"></script>
   <script src="{% static 'core/js/popper.min.js' %}"></script>
   <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
   <!-- wow animation -->
   <script src="{% static 'core/js/animate.js' %}"></script>
   <!-- select country -->
   <script src="{% static 'core/js/bootstrap-select.js' %}"></script>
   <!-- owl carousel -->
   <script src="{% static 'core/js/owl.carousel.js' %}"></script>
   <!-- chart js -->
   <script src="{% static 'core/js/Chart.min.js' %}"></script>
   <script src="{% static 'core/js/Chart.bundle.min.js' %}"></script>
   <script src="{% static 'core/js/utils.js' %}"></script>
   <script src="{% static 'core/js/analyser.js' %}"></script>
   <!-- nice scrollbar -->
   <script src="{% static 'core/js/perfect-scrollbar.min.js' %}"></script>
   <script>
      var ps = new PerfectScrollbar('#sidebar');
   </script>
   <!-- custom js -->
   <script src="{% static 'core/js/custom.js' %}"></script>
   <script src="{% static 'core/js/chart_custom_style1.js' %}"></script>

   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script src="{% static 'core/js/funciones.js' %}"></script>

   {% block js %}
   {% endblock %}

   {% if messages %}
   {% for aux in messages %}
   <script>
      const Toast = Swal.mixin({
         toast: true,
         position: "top-end",
         showConfirmButton: false,
         timer: 2000,
         timerProgressBar: true,
         didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
         }
      });
      Toast.fire({
         icon: "{{ aux.tags }}",
         title: "{{ aux }}"
      });
   </script>
   {% endfor %}
   {% endif %}
</body>


</html>